mixin carousel(spec)
  - spec = spec || {}
  - spec.carouselConfig.config.nrOfLoops = spec.carouselConfig.config.nrOfLoops || 1
  - spec.carouselConfig.config.mainClass = spec.carouselConfig.config.mainClass || 'carousel'
  - spec.carouselConfig.config.innerClass = spec.carouselConfig.config.innerClass || 'carousel__inner'
  - spec.carouselConfig.config.listClass = spec.carouselConfig.config.listClass || 'carousel__list'
  - spec.carouselConfig.config.itemClass = spec.carouselConfig.config.itemClass || 'carousel__item'
  - spec.carouselConfig.config.imgClass = spec.carouselConfig.config.imgClass || 'carousel__img'
  - spec.carouselConfig.config.modifierClass = spec.carouselConfig.config.modifierClass || ''

  section(class=spec.carouselConfig.config.mainClass)
    div(class=spec.carouselConfig.config.innerClass)
      ul(class=spec.carouselConfig.config.listClass)
        - for (var i=0; i < spec.carouselConfig.config.nrOfLoops; i++)
          each val in spec.carouselImages.carousel
            li(class=spec.carouselConfig.config.itemClass)
              img(class=spec.carouselConfig.config.imgClass src=`images/${val.image}` alt=val.altText)
