mixin cards(spec)
  .cards
    each val in spec
      .cards__container
        div(class='cards__icon-' + val.name)
          image(class='cards__icon-img' src=`images/${val.image}` alt=val.title )
        h3.cards__title #{val.title}
        p.cards__text #{val.text}
        a(class='cards__link' href='#') Learn more


mixin twitterCards(spec)
  .twitter
    ul.twitter__feed
      each val in spec
        li.twitter__card
          .twitter__user
            image(class='twitter__img' src=`images/${val.photo}` alt=`Photo of ${val.username}`)
            p.twitter__name #{username}
            img(class='twitter__icon' alt='Twitter' src='images/social-twitter.svg')
          p.twitter__text #{val.text}
          p.twitter__date #{val.date}


mixin userCards(spec)
  each val in spec
    .users__content
      .users__item
        img(class='users__img' src=val.picture alt=val.firstName)
      div(class='users__item users__item--id')
        | #{val.id}
      div(class='users__item users__item--user' data-name=`${val.firstName} ${val.lastName}`)
        | #{val.title}. #{val.firstName} #{val.lastName}
      .users__item
        a.users__link(href=`mailto: ${val.email}`)
          | #{val.email}

