mixin interfaceTabs(spec)
  nav.tabs
    ul.tabs__list
      each val in spec.interfaceTabs.interfaceTabsOptions
        li.tabs__item
          input(class='tabs__input' type='radio' name="slide" id=val.id checked=val.is_checked)
          label(class='tabs__link' for=val.label_for) #{val.label_text}
          .slide
            .slide__inner
              .slide__item
                each item in spec.interfaceTabsImages.interfaceTabsImages
                  if (item.id_interface == val.id)
                    img.slide__img(class=item.css_extra src=`images/${item.image}` alt=item.alt_text)
